<!DOCTYPE html> <!-- https://youtu.be/lYVKbAn5Od0?t=1269 -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- NOTE: this header does not need the tailwind CSS link in order to work-->
    <link rel="stylesheet" type="text/css" href="./tailwind-css/styles.css">
    <title>The Header</title>
  </head>
  <body>
    <div class="transition duration-500 ease-in-out bg-blue-600 hover:bg-red-600 transform hover:-translate-y-1 hover:scale-110">
    <p>This is the header.ejs file in the '/views/partials' directory</p>
      <header class="font-bold uppercase m-4 p-2">
        Header
      </header>
    </div>
  </body>
</html>
