<nav> <!-- first made for the "./about" page-->
  <h1 class="some-two-three-four">This is the Secondary navigation bar</h1>
  <div class="flex hidden md:flex items-center space-x-1 text-gray-900">
    <a href="/ucs-about" class="py-4 px-3 hover:bg-gray-900 hover:text-gray-100 focus:bg-gray-900 focus:text-gray-100 transition duration-500">About</a>
    <a href="http://urbancruiseship.org/standards" class="py-4 px-3 hover:bg-gray-900 hover:text-gray-100 focus:bg-gray-900 focus:text-gray-100 transition duration-500">Standards</a>
    <a href="http://urbancruiseship.org/team" class="py-4 px-3 hover:bg-gray-900 hover:text-gray-100 focus:bg-gray-900 focus:text-gray-100 transition duration-500">Crew</a>
    <a href="http://urbancruiseship.org/activities" class="py-4 px-3 hover:bg-gray-900 hover:text-gray-100 focus:bg-gray-900 focus:text-gray-100 transition duration-500">Activities</a>
  </div>
</nav>
