<style media="screen">
  .elliptical-geometry-top {
    border-top-left-radius: 70px 25px;
    border-top-right-radius: 70px 25px;
  }
  .elliptical-geometry {
    border-bottom-left-radius: 70px 25px;
    border-bottom-right-radius: 70px 25px;
    border-top-left-radius: 70px 25px;
    border-top-right-radius: 70px 25px;
  }
  .shadow-geometry-no-hover-effects {
    box-shadow: 4px 6px 6px #86888f;
  }
</style>
<div class="bg-gray-300 elliptical-geometry max-w-xs m-8 shadow-geometry-no-hover-effects varela-round-font">
    <i class="fa fa-check fa-2x float-left mt-3 ml-4 text-gray-700" aria-hidden="true"></i>
    <h2 class="bg-gray-400 elliptical-geometry-top font-semibold pl-14 p-3 text-xl tracking-wider text-gray-700">
      <%- title %>
    </h2>
    <p class="p-4 pb-6 text-gray-800">
      <%- description %>
    </p>
</div>
