<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- NOTE: the path for the partials must be literal; that's why the href is so long -->
    <link rel="stylesheet" type="text/css" href="..public/tailwind-css/styles.css">

    <title>UCS Footer</title>
  </head>
  <body>
    <br><br>
    <footer class="text-center tracking-widest text-gray-800 sm:text-2xl m-4 varela-round-font">Copyright © Urban Cruise Ship 2021</footer>
  </body>
</html>
