<style media="screen">
  .elliptical-geometry-top {
    border-top-left-radius: 70px 25px;
    border-top-right-radius: 70px 25px;
  }
  .elliptical-geometry {
    border-bottom-left-radius: 70px 25px;
    border-bottom-right-radius: 70px 25px;
    border-top-left-radius: 70px 25px;
    border-top-right-radius: 70px 25px;
  }
  .shadow-geometry {
    box-shadow: 4px 6px 6px #86888f;
  }
  .shadow-geometry:hover {
    box-shadow: 4px 6px 6px #575757;
    transition: 500ms;
  }
</style>
<div class="bg-gray-300 elliptical-geometry max-w-xs m-8 shadow-geometry text-gray-900">
    <i class="fa fa-check fa-2x float-left mt-4 ml-4" aria-hidden="true"></i>
    <h2 class="bg-gray-400 elliptical-geometry-top font-semibold pl-14 p-3 text-2xl tracking-wider">
      <%- title %>
    </h2>
    <p class="p-4 pb-6">
      <%- description %>
    </p>
</div>
