<!DOCTYPE html> <!-- https://youtu.be/lYVKbAn5Od0?t=1269 -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- NOTE: the layout must have this link in order for tailwind to work on the partials, but the layout cannot be styled with tailwind -->
    <link rel="stylesheet" type="text/css" href="..public/tailwind-css/styles.css">
    <title>The Layout</title>
  </head>
  <style>
    .custom-styles {
      background-color: white;
      padding: 20px;
      margin: 20px
    };

    .custom-styles {
      font-weight: bold;
      color: rgb(55, 87, 70);
    }
    .custom-styles:hover {
      color: red;
      transition: 2s;
    }
  </style>
  <body>
    <p class="custom-styles">This is the full-width.ejs file in the '/views/layouts' directory</p>
      <%- include('../partials/header.ejs') %>
      <main><%- body %></main>
    <p>This is the full-width.ejs file in the '/views/layouts' directory</p>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
