<!DOCTYPE html> <!-- https://youtu.be/lYVKbAn5Od0?t=1269 -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- NOTE: this full-width.ejs element wrapps another element inside of it -->
    <!-- ...so if you link to Alpine.js as shown below, Alpine.js will actually fire twice -->
    <!-- ...this would cause problems; the myArray inside ./scripts/scripts.js for example,  -->
    <!-- ...would get iterated on twice, in layoutsandpartials.ejs and you would 6 pets instead of 3 -->
    <!-- <script src="//unpkg.com/alpinejs" defer></script> -->

    <!-- NOTE: the layout must have this link in order for tailwind to work on the partials, but the layout cannot be styled with tailwind -->
    <link rel="stylesheet" type="text/css" href="..public/tailwind-css/styles.css">
    <title>The Layout</title>
  </head>
  <style>
    .custom-styles:hover {
      background-color: rgb(209, 154, 136);
      color: rgb(87, 50, 37);
      transition: 1s;
    }
    .custom-styles {
      background-color: rgb(201, 201, 201);
      padding: 20px;
      margin: 20px;
      color: rgb(64, 64, 64);
      text-align: center
    };
  </style>
  <body>
    <div class="py-14">
      <!-- <p class="custom-styles italic tracking-wider fixed top-0 inset-x-0">This is the top line of text in the <strong>full-width.ejs</strong> file in the <strong>'/views/layouts'</strong> directory w/non-tailwind styling the hovering effects + tailwind italics & wide tracking</p> -->
        <%- include('../partials/navbar.ejs') %>
        <main><%- body %></main>
      <p class="custom-styles font-serif italic tracking-wider">This is the bottom line of text in the <strong class="font-mono">full-width.ejs</strong> file in the <strong class="font-mono">'/views/layouts'</strong> directory w/non-tailwind styling the hovering effects + tailwind italics & wide tracking</p>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
