<!DOCTYPE html> <!-- https://youtu.be/lYVKbAn5Od0?t=1269 -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- NOTE: the layout must have this link in order for tailwind to work on the partials, but the layout cannot be styled with tailwind -->
    <link rel="stylesheet" type="text/css" href="..public/tailwind-css/styles.css">
    <title>The Layout</title>
  </head>
  <style>
    .custom-styles:hover {
      background-color: rgb(209, 154, 136);
      color: rgb(87, 50, 37);
      transition: 1s;
    }
    .custom-styles {
      background-color: rgb(222, 250, 212);
      padding: 20px;
      margin: 20px;
      font-weight: bold;
      color: rgb(109, 117, 89);
      text-align: center
    };
  </style>
  <body>
    <p class="custom-styles uppercase">This is the full-width.ejs file in the '/views/layouts' directory w/non-tailwind styling the hovering effects + tailwind uppercase</p>
      <%- include('../partials/navbar.ejs') %>
      <main><%- body %></main>
    <p class="custom-styles uppercase">This is the full-width.ejs file in the '/views/layouts' directory w/non-tailwind styling the hovering effects + tailwind uppercase</p>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
