<!DOCTYPE html> <!-- https://youtu.be/lYVKbAn5Od0?t=1269 -->
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- this is what prevents the hamburger icon from getting pushed off the viewport when text in the './views/layoutandpartials.ejs' is made bigger -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title><%- title %></title>
    <link rel="stylesheet">
  </head>
  <body>

    <div class="wrapper">

      <%- include('../partials/header.ejs') %>

      <div>
        <main><%- body %></main>
        <side>Sidebar</side>
      </div>

      <%- include('../partials/header.ejs') %>

    </div>

  </body>
</html>
