<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Script you need to read alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- NOTE: the layout must have this link in order for tailwind to work on the partials, but the layout cannot be styled with tailwind -->
    <link rel="stylesheet" type="text/css" href="..public/tailwind-css/styles.css">

    <!-- NOTE: this is a tempoary link in case we want to copy & paste the current UCS Homepage via. "View page source" -->
    <!-- When the new UCS web page is rebuilt, this should be removed so we have faster loading times -->
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->

    <style>
      /* NOTE: this link works locally, but not on Heroku, so I'm trying the link above */
      /* https://www.cdnfonts.com/arial-rounded-mt-bold.font */
      @import url('https://fonts.cdnfonts.com/css/arial-rounded-mt-bold');
      .arial-rounded-mt-bold {
        font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
      }
    </style>

    <style media="screen">
      /* This layout file forms the backbone of the UCS website and holds all of the font links */
      @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
      .varela-round-font {
        font-family: 'Varela Round', sans-serif;
      }

      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
      .roboto-font {
        font-family: 'Roboto', sans-serif;
      }

      @import url('https://fonts.cdnfonts.com/css/arial-rounded-mt-bold');
      .arial-rounded-mt-bold-font {
        font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial,sans-serif;
      }
      @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');
      .prompt-font {
        font-family: 'Prompt', sans-serif;
      }
    </style>

    <title>UCS Layout</title>
  </head>
  <body>
    <div class="py-14">
      <%- include('../partials/ucs-navbar.ejs') %>
        <!-- "max-w-screen-lg" limits the overall width of the website -->
        <!-- "mx-auto" center-justifies the (e.g. ucs.ejs) content in this layout -->
        <main class="sm:max-w-screen-md lg:max-w-screen-lg mx-auto"><%- body %></main>
      <%- include('../partials/ucs-footer.ejs') %>
    </div>
  </body>
</html>
