<!-- Node JS Tutorial for Beginners #17 - Serving HTML Pages -->
<!-- https://www.youtube.com/watch?v=BBOUfdUZIVo -->
<!DOCTYPE html>
<html>
  <head>

    <!-- Script you need to read alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <style>
      body{background:  #4b883c ; font-family: Arial; color: #ceceb3; padding: 30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;}
      h2{font-size: 20px; letter-spacing: 1.5px; text-align: left;}
      p{font-size: 16px; text-align: center;}
    </style>
  </head>
  <body>
    <!-- this is a web component that will eventually become a navbar displayed on all pages -->
    <custom-web-component name="This is the Nav-Bar (Header) Web Component" avatar="./favicon.ico">
      <div slot="email">info@email.com</div>
      <div slot="phone">123-456-7890</div>
    </custom-web-component>

    <h1>About</h1>
    <p>Welcome to the About page</p>


    <!-- Button that hides & shows a div w/alpine.js component -->
    <div x-data="{isShowing: false}">
      <button x-data x-on:click="isShowing = !isShowing">
        Alpine.js Component Button
      </button>

      <div x-show="isShowing">
        <h2>i am content that should dissappear and reappear via the Alpine.js framework every time you click the button above!</h2>
      </div>
    </div>

    <br><br><br>

    <nav>
      <h2><a href="/">Home page</a></h2>
      <h2><a href="/images">Images page</a></h2>
      <h2><a href="/accordion">Accordion page</a></h2>
      <h2><a href="/illustrations">"Illustrations Page" - a copy of the Images page that has working web components</a></h2>
      <h2><a href="/myfolder/myview">Page located in a subdirectory</a></h2>

    <!-- this is a web component that will eventually become a footer displayed on all pages -->
    <custom-web-component name="This is the Footer Web Component" avatar="./favicon.ico">
      <div slot="email">some-other-info@email.com</div>
      <div slot="phone">867-5309</div>
    </custom-web-component>

    <!-- NOTE: this script is used for web component header (nav bar) and footer -->
    <!--  It must be displayed in the </body> and it must be placed below all of the web components -->
    <script src="./ourWebComponent.js"></script>

  </body>
</htmsl>
