<!-- Smooth Accordion with TailwindCSS & Alpine.js -->
<!-- https://codepen.io/QJan84/pen/zYvRMMw -->

<!DOCTYPE html>
<html>
  <head>

    <!-- Script you need to read alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- internal css file -->
    <link rel="stylesheet" type="text/css" href="./styles.css">

<!-- NOTE This may require TailwindCSS to be installed -->
<!-- https://codepen.io/QJan84/pen/zYvRMMw -->
<!-- https://codepen.io/hmaesta/pen/MWKoGEm -->
<!-- https://nemrut.co/blog/how-to-create-accordion-tabs-using-alpine-js-tailwindcss -->

  <p>You should see nothing here except this message, this page is not yet built out</p>

  </head>
  <body>


  </body>
</htms>
