<!DOCTYPE html>
<html>
  <head>

    <!-- Script you need to read alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- internal css file -->
    <link rel="stylesheet" type="text/css" href="./styles.css">

    <!-- internal JavaScript file -->
    <script src="scripts.js"></script>

  </head>
  <body>
    <p><h3>This H3 text should be orange and styled by the styles.css file in the '/public' directory</h3></p>

    <!-- reading the scripts.js (JavaScript) file using Alpine.js component -->
    <div x-data="{ myString }">
      <p x-text="myString"></p>
    </div>

    <!-- accordion from here: https://www.w3schools.com/howto/howto_js_accordion.asp -->
    <!-- NOTE: this is raw HTML, CSS, and JavaScript; there is no Alpine.js being used here -->
    <button class="accordion">Click on this accordion button and it should slowly descend</button>
    <div class="panel">
      <p>Lorem ipsum...</p>
    </div>

    <!-- this is a web component that will eventually become a footer displayed on all pages -->
    <custom-web-component name="This is the Footer Web Component" avatar="./favicon.ico">
      <div slot="email">some-other-info@email.com</div>
      <div slot="phone">867-5309</div>
    </custom-web-component>

    <!-- NOTE: this script is used for web component header (nav bar) and footer -->
    <!--  It must be displayed in the </body> and it must be placed below all of the web components -->
    <script src="./ourWebComponent.js"></script>
    
  </body>
</html>

<!-- NOTE This may require TailwindCSS to be installed -->
<!-- https://codepen.io/QJan84/pen/zYvRMMw -->
<!-- https://codepen.io/hmaesta/pen/MWKoGEm -->
<!-- https://nemrut.co/blog/how-to-create-accordion-tabs-using-alpine-js-tailwindcss -->
