<!-- Node JS Tutorial for Beginners #17 - Serving HTML Pages -->
<!-- https://www.youtube.com/watch?v=BBOUfdUZIVo -->
<!DOCTYPE html>
<html>
  <head>

    <!-- this is what prevents the text & images from shrinking in the mobile versions -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


    <!-- Script you need to read alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- internal css files NOTE: you cann use both of these at the same time or -->
    <!-- Heroku will not compile the application properly -->
    <!-- <link rel="stylesheet" type="text/css" href="./tailwind-css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="./custom-styles/mystyles.css">

    <!-- NOTE: You can use this external tailwind-link with the internal custom css file(s) above -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <style>
      body{background: #888b4f; font-family: Arial; padding: 30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center; color: #ceceb3; }
      h2{font-size: 20px; letter-spacing: 1.5px; text-align: left; color: #ceceb3; }
      p{font-size: 16px; text-align: left;}
    </style>
  </head>
  <body>

    <!-- this is a web component that will eventually become a navbar displayed on all pages -->
    <custom-web-component name="This is the Nav-Bar (Header) Web Component" avatar="./favicon.ico">
      <div slot="email">info@email.com</div>
      <div slot="phone">123-456-7890</div>
    </custom-web-component>

    <h1>Images</h1>
      <nav>
        <h2><a href="/">Home page</a></h2>
      </nav>
      <br><br>
      <style>
        img {max-width: 110px}
      </style>
      <div>
        <p>This jpg image is stored in this app at: /public/images/alpinejs.jpg</p>
        <img src="/images/alpinejs.jpg" alt="an alpine.js (.jpg file) logo stored natively inside the app">
      </div>
      <br><br>
      <div>
        <p>This jpg image is stored offsite on imgur.com at: https://i.imgur.com/db3IZaF.jpg</p>
        <img src="https://i.imgur.com/db3IZaF.jpg" alt="an alpine.js (.jpg file) logo imported from imgur.com">
      </div>
      <br><br>
      <div>
        <p>This svg image is stored in this app at: /public/images/alpinejs.svg</p>
        <img src="/images/alpinejs.svg" alt="an alpine.js (.svg file) logo stored natively inside the app">
      </div>
    </div>

    <!-- this is a web component that will eventually become a footer displayed on all pages -->
    <custom-web-component name="This is the Footer Web Component" avatar="./favicon.ico">
      <div slot="email">some-other-info@email.com</div>
      <div slot="phone">867-5309</div>
    </custom-web-component>

    <!-- NOTE: this script is used for web component header (nav bar) and footer -->
    <!--  It must be displayed in the </body> and it must be placed below all of the web components -->
    <script src="./web-components/ourWebComponent.js"></script>

  </body>
</html>
