<!-- Node JS Tutorial for Beginners #17 - Serving HTML Pages -->
<!-- https://www.youtube.com/watch?v=BBOUfdUZIVo -->
<!DOCTYPE html>
<html lang="en">
<html>
  <head>

    <!-- this is what prevents the text & images from shrinking in the mobile versions -->
    <!-- this <meta> tag allows the user to scale with two fingers on their phones -->
    <!-- https://youtu.be/ykgQosTbeSQ -->
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.8, minimum-scale=1.0">


    <!-- Script you need to read alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- internal css files NOTE: you cann use both of these at the same time or -->
    <!-- Heroku will not compile the application properly -->
    <!-- <link rel="stylesheet" type="text/css" href="./tailwind-css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="./custom-styles/mystyles.css">

    <!-- NOTE: You can use this external tailwind-link with the internal custom css file(s) above -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <style>
      body{background: #888b4f; font-family: Arial; padding: 30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center; color: #ceceb3; }
      h2{font-size: 20px; letter-spacing: 1.5px; text-align: left; color: #ceceb3; }
      p{font-size: 16px; text-align: left;}
    </style>
  </head>
  <body>

    <!-- this is a web component  -->
    <custom-web-component name="This is a Web Component, it requires less back-end code than Express.js layouts & partials, but it must be inserted onto each .html & .egs file in which it occurs; in contrast, the Express.js layouts & partials (.ejs files) are only defined once and that's it." avatar="./images/web-components.svg">
      <div class="text-gray-900" slot="homepage"><a href="https://www.webcomponents.org/">Click here to learn all about web components and why they are useful</a></div>
      <div class="text-gray-900" slot="resources"><a href="https://youtu.be/PCWaFLy3VUo">Click here to watch the tutorial video that was used to create this web component</a></div>
    </custom-web-component>

    <h1>Images</h1>
      <nav>
        <h2><a href="/">Home page</a></h2>
      </nav>
      <br><br>
      <style>
        img {max-width: 110px}
      </style>
      <div>
        <p>This jpg image is stored in this app at: /public/images/alpinejs.jpg</p>
        <img src="/images/alpinejs.jpg" alt="an alpine.js (.jpg file) logo stored natively inside the app">
      </div>
      <br><br>
      <div>
        <p>This jpg image is stored offsite on imgur.com at: https://i.imgur.com/db3IZaF.jpg</p>
        <img src="https://i.imgur.com/db3IZaF.jpg" alt="an alpine.js (.jpg file) logo imported from imgur.com">
      </div>
      <br><br>
      <div>
        <p>This svg image is stored in this app at: /public/images/alpinejs.svg</p>
        <img src="/images/alpinejs.svg" alt="an alpine.js (.svg file) logo stored natively inside the app">
      </div>
      <div class="">
      <br><br>
        <div class="hidden sm:block">
          <p>This is an embedded PDF file for desktop:</p>
          <embed src="/documents/kardeshev.pdf" width="850" height="1040">
        </div>
        <div class="sm:hidden">
          <p>this is an iframe embedded PDF for mobile:</p>
          <iframe src="/documents/kardeshev.pdf" width="auto" height="auto"> </iframe>
        </div>
        <br>
        <div class="sm:hidden">
          <p>this is an iframe embedded PDF for mobile with a cover image:</p>
          <iframe allowtransparency="true" style="background: url('images/kardeshev.jpg')" width="auto" height="auto"> </iframe>
        </div>
        <br>
        <div class="sm:hidden">
          <p>this is a regular embedded PDF for mobile:</p>
          <embed src="/documents/kardeshev.pdf" width="auto" height="auto"> </embed>
        </div>
        <br>
      </div>
      <br><br>
    </div>

    <!-- NOTE: this script is used for web component header (nav bar) and footer -->
    <!--  It must be displayed in the </body> and it must be placed below all of the web components -->
    <script src="./web-components/ourWebComponent.js"></script>

  </body>
</html>
