<!-- Node JS Tutorial for Beginners #17 - Serving HTML Pages -->
<!-- https://www.youtube.com/watch?v=BBOUfdUZIVo -->
<!DOCTYPE html>
<html>
  <head>

    <!-- this is what prevents the text & images from shrinking in the mobile versions -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Script you need to read alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>



    <!-- internal css files NOTE: you cann use both of these at the same time or -->
    <!-- Heroku will not compile the application properly -->
    <!-- NOTE: files in the '/views/partials' & '/views/layouts' folders rely on this link to import tailwind to them -->
    <link rel="stylesheet" type="text/css" href="./tailwind-css/styles.css">

    <!-- <link rel="stylesheet" type="text/css" href="./custom-styles/mystyles.css"> -->

    <!-- NOTE: You can use this external tailwind-link with the internal custom css file(s) above -->
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->




    <!-- internal JavaScript file -->
    <script src="scripts/scripts.js"></script>

    <style>
      body{background: #1876b4; font-family: Arial; padding: 30px;}
      h1{font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center; color: #ceceb3; }
      h2{font-size: 20px; letter-spacing: 1.5px; text-align: left; color: #ceceb3; }
      p{font-size: 16px; text-align: center;}
    </style>
    <title>RAM&UCS Test Website</title>
  </head>
  <body>

    <!-- this is a web component  -->
    <custom-web-component name="This is a Web Component, it requires less back-end code than Express.js layouts & partials, but it must be inserted onto each .html & .egs file in which it occurs; in contrast, the Express.js layouts & partials (.ejs files) are only defined once and that's it." avatar="./images/web-components.svg">
      <div class="text-gray-900" slot="homepage"><a href="https://www.webcomponents.org/">Click here to learn all about web components and why they are useful</a></div>
      <div class="text-gray-900" slot="resources"><a href="https://youtu.be/PCWaFLy3VUo">Click here to watch the tutorial video that was used to create this web component</a></div>
    </custom-web-component>

    <h1 class="transition duration-500 ease-in-out font-bold uppercase p-4 border-b border-gray-100 hover:text-black">Alpine.js Test Website</h1>
    <h2>This is the index.html (homepage) for this Alpine.js proof of concept website</h2>
    <p><h3 class="text-yellow-500">This text should be orange because it is styled using css on the index.html file and uses an internal tailwind-css build as opposed to an offsite CDN tailwind-css build like the H3 text on the ./About page </h3></p>

    <!-- Button that hides & shows a div w/alpine.js component -->
    <div class="bg-white bg-opacity-10" x-data="{isShowing: false}">
      <button class="rounded-full m-2 px-2 py-1 bg-yellow-400 text-yellow-900" x-data x-on:click="isShowing = !isShowing">
        Alpine.js Component Button
      </button>

      <div x-show="isShowing">
        <h2>i am content that should dissappear and reappear via the Alpine.js framework every time you click the button above!  I also contain a fully-functional web component inside me</h2>

        <!-- this is a web component inside of a web component -->
        <custom-web-component name="This is the Nav-Bar (Header) Web Component" avatar="./favicon.ico">
          <div slot="email">I am a web component inside an Alpine.js component</div>
          <div slot="phone">If I am working properly, you should be able to show & hide me with the button below</div>
        </custom-web-component>


      </div>
    </div>

    <br><br><br>

    <!-- Looping over an array in the scripts.js JavaScript file -->
    <div x-data="{ myArray }" style="background: #27acfc">
      <div style="border: 10px; padding: 10px; margin: 10px">
        <p>This list of three pets below is being generated by an Alpine.js component from an array in the scripts.js file in the public folder</p>
        <template x-for="person in myArray">
          <li class="font-mono" x-text="person"></li>
        </template>
      </div>
    </div>

    <br><br><br>

    <nav>
      <h2 class="rounded m-2 px-2 py-1 bg-yellow-300 text-yellow-800"><a href="/ram">RAM Logo Appearance Per John's Idea (.html)</a></h2>
      <h2 class="rounded m-2 px-2 py-1 bg-yellow-300 text-yellow-800"><a href="/about">About Page (.html)</a></h2>
      <h2 class="rounded m-2 px-2 py-1 bg-yellow-300 text-yellow-800"><a href="/accordion">Accordion Page (.html)</a></h2>
      <h2 class="rounded m-2 px-2 py-1 bg-yellow-300 text-yellow-800"><a href="/illustrations">Illustrations Page (.html)</a></h2>
      <h2 class="rounded m-2 px-2 py-1 bg-yellow-300 text-yellow-800"><a href="/myfolder/myview">Page located in a subdirectory (.html)</a></h2>

      <h2 class="rounded m-2 px-2 py-1 bg-purple-400 text-purple-900"><a href="/layoutandpartials">Click here to see the navbar displayed with a layout & partials (.egs)</a></h2>
      <h2 class="rounded m-2 px-2 py-1 bg-purple-400 text-purple-900"><a href="/myfolder/nested">Click here to see the navbar displayed with a layout & partials located in a subdirectory (.egs)</a></h2>

      <h2 class="rounded m-2 px-2 py-1 bg-gray-400 text-gray-900"><a href="/my-custom-download">Click here to download a .jpg file of the Alpine.js logo</a></h2>
      <h2 class="rounded m-2 px-2 py-1 bg-gray-400 text-gray-900"><a href="/blah blah">Click here to see what happens when there's a broken link on this web page</a></h2>
    </nav>

    <!-- NOTE: this script is used for web component header (nav bar) and footer -->
    <!--  It must be displayed in the </body> and it must be placed below all of the web components -->
    <script src="./web-components/ourWebComponent.js"></script>

  </body>
</html>
