<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./tailwind-css/styles.css">
    <title>layout-n-partials</title>
  </head>
  <body>
    <h3>This is the <strong>.ejs</strong> file wrapped in the <strong>./layouts/full-width.ejs</strong>layout</h3>
    <h3>it behaves much like an HTML file, but uses Express.js</h3>
    <h4 class="transition duration-500 font-bold ease-in-out hover:text-red-900 uppercase bg-green-200">This text should be uppercase and change to red when you hover on it if tailwind is working properly</h4>
  </body>
</html>
