<!-- https://youtu.be/w0KZhi3DD-0 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test Page</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="text-gray-600">
    <div class="">
      <div class="">
        <nav>
          <div class="">
            <h1 class="text-6xl font-bold uppercase">Test Text</h1>
            <h1 class="text-blue-600">Test Text</h1>
          </div>
        </nav>
      </div>
    </div>
  </body>
</html>
<!-- tailwind gives us a bunch of low-level utility classes with which to style our elements -->
<!-- low level in the sense that they do one thing (size, color, etc.) -->
