<!-- https://youtu.be/FLYxb11R62Y?t=287 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Test Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="text-gray-600">
    <div class="">
      <div class="">
        <nav>
          <div class="text-justify">
            <h1 class="text-6xl uppercase hover:text-black">Test Text</h1>
            <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <h1 class="text-grey-lightest text-4xl">Test - 2</h1>
            <p class="text-green-500 sm:text-blue-600 md:text-purple-600 lg:text-purple-900 xl:text-blue-900">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </nav>
      </div>
    </div>
  </body>
</html>
<!-- tailwind gives us a bunch of low-level utility classes with which to style our elements -->
<!-- low level in the sense that they do one thing (size, color, etc.) -->
