<style media="screen">
  @media only screen and (max-width: 550px) {
    #desktop-title {
      display: none;
    }
  }

  @media only screen and (min-width: 551px) {
    #mobile-n-tablet-title {
      display: none;
    }
  }
</style>

<div class="bg-gray-100 roboto-font text-gray-800">
  <%- include ("./partials/ucs-specialized-sites-navbar.ejs") %>
  <br>
  <div class="mx-4">
    <!-- Larger screens can handle a larger font -->
    <h1 class="arial-rounded-mt-bold-font flex justify-center text-4xl" id="desktop-title">Activities</h1>

    <!-- As screens get smaller, we want a smaller font -->
    <h1 class="arial-rounded-mt-bold-font flex justify-center text-3xl" id="mobile-n-tablet-title">Activities</h1>
    <h4 class="bpg-arial-font flex justify-center">Our connections with others are important parts of our history.</h4>
  </div>

  <br><br><br>

  <div>
    <div class="border-b-4 border-gray-500 text-3xl">
      <div tabindex="1" class="bpg-arial-font mx-3">Memberships</div>
    </div>
    <div class="bg-gray-200 px-8 py-2 text-justify">
      <p>
        <b>Nashville Peace and Justice Center</b>, 2015-present.
      </p>
      <br>

      <center class="text-blue-900">
        <a tabindex="2" href="https://www.nashvillepeacejustice.org/" class="duration-500 ease-in-out focus:opacity-90 hover:opacity-90 mx-2 sm:mx-8 opacity-40 transition">
          <i class="fas fa-home fa-3x"></i>
        </a>
        <br><br>
      </center>
    </div>
  </div>

  <br><br><br><br><br>

  <div>
    <div class="border-b-4 border-gray-500 text-3xl">
      <div tabindex="2" class="bpg-arial-font mx-3">Donors</div>
    </div>
    <div class="bg-gray-200 px-8 py-2 text-justify">
      <p>
        <b>John van der Harst</b>, 2017-present.
      </p>
      <br>
      <p>
        <b>Nashville Peace and Justice Center</b>, 2015.&nbsp; Urban Cruise Ship was an NPJC project in 2015.
      </p>
      <br>
    </div>
  </div>

  <br><br><br><br><br>

  <div>
    <div class="border-b-4 border-gray-500 text-3xl">
      <div tabindex="3" class="bpg-arial-font mx-3">Clients</div>
    </div>
    <div class="bg-gray-200 px-8 py-2 text-justify">
      <p>
        <b>Tennessee Environmental Council</b>, 2016. Full cost of solid waste disposal for Davidson County, TN.
      </p>
      <br>
      <center class="text-blue-900">
        <a tabindex="4" href="https://www.tectn.org/" class="duration-500 ease-in-out focus:opacity-90 hover:opacity-90 mx-2 sm:mx-8 opacity-40 transition">
          <i class="fas fa-home fa-3x"></i>
        </a>
        <br><br>
      </center>
    </div>
  </div>

  <br><br><br><br><br>

  <div>
    <div class="border-b-4 border-gray-500 text-3xl">
      <div tabindex="5" class="bpg-arial-font mx-3">Presentations</div>
    </div>
    <div class="bg-gray-200 px-8 py-2 text-justify">
      <p>
        <b>Lansing, MI</b>, February 2020.&nbsp; Lee Nelson presented on the
        links between different dietary choices and their environmental
        consequences at an event called Sprouting, which was organized to spread
        environmental awareness and appreciation. It was held at The Fledge, a
        non-profit organization and space that helps local start-ups brainstorm
        and build their businesses.
      </p>
      <br>
      <p>
        <b>Santa Fe, NM</b>, July 2019.&nbsp; <b>Michael Goff</b> presented an overview
        of current and forecasted world energy production at the Santa Fe
        Institute, as part of their Sustainability Summer School program.
      </p>
      <br>
      <p>
        <b>Nashville, TN</b>, January 9, 11, and 23, 2018.&nbsp;
        <b>John van der Harst</b> and <b>Andrew Evans</b> presented handouts on
        mode and system efficiencies and system length/population comparisons at
        a public hearing and subsequent committee and full meetings of the
        Metropolitan Council of Nashville and Davidson County on a light rail
        plan tax referendum.
      </p>
      <br>
    </div>
  </div>

  <br><br><br><br><br>

  <div>
    <div class="border-b-4 border-gray-500 text-3xl">
      <div tabindex="6" class="bpg-arial-font mx-3">Accomplishments</div>
    </div>
    <div class="bg-gray-200 px-8 py-2 text-justify">
      <p>
        <b>2020-Present:</b> Invented and developed
        <a tabindex="7" href="http://urbancruiseship.org/topic/history/endeavors" class="duration-500 hover:text-red-900 hover:underline focus:text-red-900 focus:underline text-blue-900 transition">
          <strong><i>Comparative Progress Studies</i></strong>
        </a>
        ,a subfield of Progress Studies, as a tool for improving and verifying
        accuracy of cost-benefit metrics for solutions.&nbsp; This can also
        improve policymakers' funding prioritization.
      </p>
      <br>
    </div>
  </div>
</div>
