<!-- https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/ -->
<!DOCTYPE html>
<html>
  <head>

    <!-- Script you need to read alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- internal css file -->
    <link rel="stylesheet" type="text/css" href="./tailwind-css/styles.css">
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->

    <title>UCS Homepage</title>
  </head>
  <body>
    <br><br>
    <div class="gap-2 justify-center grid lg:grid-cols-3 md:grid-cols-2 bg-gray-100">
      <a href="http://urbancruiseship.org/site/energy">
        <span class="absolute text-purple-700 text-opacity-0 text-xs">Energy production, distribution, and consumption</span>
        <img class="transform hover:opacity-0 transition duration-300" src="/images/ucs-homepage-icons/energy.svg" alt="an alpine.js (.svg file) logo stored natively inside the app">
        <!-- <img class="opacity-0 transform hover:opacity-100 transition duration-300" src="/images/ucs-homepage-icons/energy-dark.svg" alt=""> -->
      </a href="http://urbancruiseship.org/site/energy">
      <a href="http://urbancruiseship.org/site/energy">
        <span class="absolute text-purple-700 text-opacity-0 text-xs">Energy production, distribution, and consumption</span>
        <img class="transform hover:scale-110 transition duration-300" src="/images/ucs-homepage-icons/energy.svg" alt="an alpine.js (.svg file) logo stored natively inside the app">
      </a href="http://urbancruiseship.org/site/energy">
      <a href="http://urbancruiseship.org/site/energy">
        <span class="absolute text-purple-700 text-opacity-0 text-xs">Energy production, distribution, and consumption</span>
        <img class="transform hover:scale-110 transition duration-300" src="/images/ucs-homepage-icons/energy.svg" alt="an alpine.js (.svg file) logo stored natively inside the app">
      </a href="http://urbancruiseship.org/site/energy">
      <a href="http://urbancruiseship.org/site/energy">
        <span class="absolute text-purple-700 text-opacity-0 text-xs">Energy production, distribution, and consumption</span>
        <img class="transform hover:scale-110 transition duration-300" src="/images/ucs-homepage-icons/energy.svg" alt="an alpine.js (.svg file) logo stored natively inside the app">
      </a href="http://urbancruiseship.org/site/energy">
      <a href="http://urbancruiseship.org/site/energy">
        <span class="absolute text-purple-700 text-opacity-0 text-xs">Energy production, distribution, and consumption</span>
        <img class="transform hover:scale-110 transition duration-300" src="/images/ucs-homepage-icons/energy.svg" alt="an alpine.js (.svg file) logo stored natively inside the app">
      </a href="http://urbancruiseship.org/site/energy">
      <a href="http://urbancruiseship.org/site/energy">
        <span class="absolute text-purple-700 text-opacity-0 text-xs">Energy production, distribution, and consumption</span>
        <img class="transform hover:scale-110 transition duration-300" src="/images/ucs-homepage-icons/energy.svg" alt="an alpine.js (.svg file) logo stored natively inside the app">
      </a href="http://urbancruiseship.org/site/energy">
    </div>
    <!--
    <br><br>
    <div class="flex flex-row">
      <div class="p-2 bg-yellow-200">Block-1 This has some text</div>
      <div class="p-2 bg-blue-200">Block-2 This has some more text, quite a bit really</div>
      <div class="p-2 bg-green-200">Block-3 Not much text than what is above</div>
      <div class="p-2 bg-purple-200">Block-4 no more text </div>
    </div>
    <br><br>
    <div class="flex flex-wrap">
      <div class="p-2 bg-yellow-200">Block-1 This has some text</div>
      <div class="p-2 bg-blue-200">Block-2 This has some more text, quite a bit really</div>
      <div class="p-2 bg-green-200">Block-3 Not much text than what is above</div>
      <div class="p-2 bg-purple-200">Block-4 no more text </div>
    </div>
    <br><br>
    <div class="flex justify-center items-center">
      <div class="p-2 bg-yellow-200">Block-1</div>
      <div class="p-2 bg-blue-200 text-5xl">Block-2</div>
      <div class="p-2 bg-green-200">Block-3</div>
      <div class="p-2 bg-purple-200">Block-4</div>
    </div>
    <br><br>
    <br>
    <div class="arial-rounded-mt-bold">
      <img src="/images/ucs-homepage-icons/text-plain.svg" alt="an icon for the energy section">
    </div>
    <br><br>
    -->
    <p>
      <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <br>
    <p>
      <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
    <br>
    <p>
      <strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.


      It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    </p>
  </body>
</html>
