<!-- https://youtu.be/nzshmMlOuwI?t=790 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Core D3 Library: https://d3js.org/ -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../scripts/d3Script6.js" defer></script>
    <title>Build Apps w/Paulo</title>
  </head>
  <body>
    <div>
      <h1>D3 Lesson 6</h1>
      <h2>Below we'll import JSON from a server</h2>
    </div>
      <br><br>
    <div class="canva">
      <!-- SVG's are being appended here in this HTML file -->
    </div>
  </body>
</html>
