<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- NOTE: the two extra dots in the directory below are necessary IOT fond the css file -->
    <link rel="stylesheet" type="text/css" href="../tailwind-css/styles.css">

    <title>Nested Ejs</title>
  </head>
  <body class="m-4 p-4 text-justify">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur, leo vitae pharetra posuere, sem orci faucibus ligula, id ultrices erat lorem id urna. Ut vel nibh tellus. Vivamus sed nunc quis sem egestas pulvinar a sit amet lectus. Etiam ultrices nulla nec bibendum volutpat. Mauris euismod tristique neque et porttitor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer urna libero, luctus at ante eget, consectetur tempor velit. Morbi velit magna, dictum eget sem nec, efficitur dictum nibh. Nullam vitae fermentum velit. Pellentesque dignissim tellus ex, eu pellentesque sapien aliquam eu. Aenean egestas ultricies odio non laoreet. Phasellus tempus elit elementum rutrum sollicitudin.
    </p>
    <br>
    <p>
      Pellentesque orci odio, auctor et pellentesque vitae, suscipit non urna. Vivamus mollis suscipit pretium. Quisque et diam placerat, ultricies justo a, venenatis ante. Curabitur volutpat consequat neque eu congue. Sed vel arcu vel tortor malesuada semper. Cras commodo leo id dolor viverra semper. Ut placerat, arcu sed lacinia iaculis, nulla libero congue nisi, ac bibendum nunc tortor in mauris. Sed bibendum metus quis rutrum gravida.
    </p>
    <br>
    <p>
      Mauris dignissim, lacus non accumsan egestas, erat mi sagittis felis, eget accumsan urna diam imperdiet risus. Mauris nec efficitur leo, id ultrices erat. Nam et dui et justo condimentum suscipit. Nam porttitor vestibulum dui, eu pretium mi consequat quis. Pellentesque vel facilisis lacus, eu posuere magna. Praesent rhoncus elementum diam ut mattis. Vestibulum nec dui quam. Praesent facilisis ante non interdum vestibulum. Donec sodales metus convallis pellentesque cursus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla nec dictum tellus.
    </p>
    <br>
    <p>
      Fusce sed sem libero. Etiam vel consequat nisi. Cras porttitor sagittis orci ac porttitor. Aliquam neque tortor, porttitor non sagittis ut, euismod quis mi. Sed aliquam pulvinar nunc sit amet sodales. Proin tincidunt vulputate mauris quis blandit. Suspendisse ultrices lobortis fringilla. Quisque aliquet nisl nec erat ultricies, vel vulputate leo sagittis. Etiam aliquet vehicula placerat. Phasellus porttitor, eros sit amet fringilla condimentum, ex nibh cursus nisl, id blandit nulla diam non est. Phasellus vestibulum a lacus sit amet elementum.
    </p>
    <br>
    <p>
      Ut eleifend aliquet purus, quis facilisis arcu cursus ac. Donec nec bibendum lacus. Maecenas ut bibendum ligula, sit amet pretium felis. Praesent semper, lectus vitae bibendum consequat, libero odio aliquam nisl, vel pharetra tellus orci vitae est. Nullam porttitor mauris tristique tincidunt rutrum. Fusce eleifend mattis orci, ultricies ornare elit ultrices eget. Cras rhoncus congue elementum. Proin iaculis blandit aliquet. Morbi pellentesque tincidunt metus vitae varius. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque malesuada suscipit dapibus.
    </p>
  </body>
</html>
